* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    width: 100%;
    height: 80vh;
    color: white;
    background: linear-gradient(#2b2d4def, #2b2d4def), url(../assets/images/Layer\ 34.png);
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 19.3%;
}

.nav-enlaces a {
    color: white;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
    margin-left: 57px;
}

hr {
    width: 61.4%;
    margin: 0 19.3%;
    height: 1px;
    background-color: #51536C;
    border: none;
}

.seccion-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.seccion-1-titulo {
    font-size: 4.1rem;
    max-width: 1000px;
    text-align: center;
    line-height: 120%;
}

.seccion-1-parrafo {
    font-size: 1.4rem;
    max-width: 920px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 4%;
    font-weight: lighter;
}

.seccion-1-boton {
    background-color: #E84546;
    border: none;
    color: white;
    padding: 0.8% 3%;
    font-size: 0.8rem;
}

.seccion-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6% 19.3% 10%;
}

.seccion-2-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5%;
    row-gap: 20%;
}

.seccion-2-easily {
    text-align: center;
}

.easily-titulo {
    font-size: 0.9rem;
    margin: 8% 0;
    font-family: "Raleway", sans-serif;
    color: #323335;
}

.easily-parrafo {
    text-align: center;
    font-size: 1rem;
    color: #717578;
}

.seccion-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px;
}

.seccion-3 img {
    width: 100%;
    height: 100%;
}

.seccion-3-imagen-rojo {
    background-color: #E75351;
    color: white;
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagen-rojo-titulo {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.imagen-rojo-subtitulo {
    font-weight: lighter;
    font-size: 0.8rem;
}

.seccion-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    padding: 0% 19.3;
}

.seccion-4-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 40px;
}

.seccion-4-tarjeta-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tarjeta-1-titulo {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: 10%;
    margin-bottom: 2%;
}

.tarjeta-1-subtitulo {
    color: #E84546;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    margin-bottom: 10%;
}

.tarjeta-1-parrafo {
    max-width: 300px;
    color: #717578;
    margin-bottom: 10%;
}
.tarejta-1-redes {
    display: flex;
    gap: 10px; 
}

.tarejta-1-redes img {
    width: 35px;        
    height: 35px;
    padding: 8px;       
    border: 1px solid #EEEEEE;
    object-fit: contain; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.seccion-5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.seccion-5-imagen img {
    width: 100%;
    height: 100%;
    background-position: start;
}

.seccion-5-texto {
    background-color: #523549;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}

.texto-titulo {
    font-family: "Cardo", serif;
    font-weight: lighter;
    font-size: 2.5rem;
    max-width: 560px;
}

.texto-subtitulo {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 3%;
    margin-bottom: 8%;
}

.seccion-5-puntos {
    display: flex;
    gap: 8px;
    padding-left: 32%;
}

.punto {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #765F6F;
    cursor: pointer;
}

.punto.activo {
    background-color: #ffffff;
}

.seccion-6 {
    text-align: center;
    padding: 6% 19.3%;
}

.seccion-6-titulo {
    font-weight: lighter;
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    margin-bottom: 1%;
}

.seccion-6-parrafo {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 3%;
}

.seccion-6-boton {
    background-color: #E84546;
    border: none;
    color: white;
    padding: 1.5% 9%;
    font-size: 0.8rem;
}

.footer-parte-1 {
    background-color: #3A3E63;
    color: white;
    text-align: center;
    padding: 4% 19.3%;
}

.footer-parte-1-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.location-titulo {
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    margin-bottom: 4%;
}

.location-parrafo {
    font-weight: lighter;
    font-family: "Raleway", sans-serif;
    font-size: 0.9rem;
    color: #9397B2;
}
.share-iconos {
    display: flex;
    gap: 12px; 
    justify-content: center;
    margin-top: 10px;
}

.share-iconos img {
    width: 40px;         
    height: 40px;
    padding: 12px;        
    border: 2px solid #ffffff; 
    object-fit: contain; 
}

.about-parrafo {
    max-width: 350px;
}

.footer-parte-2 {
    height: 10vh;
    background-color: #313455;
    color: #656273;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Raleway", sans-serif;
    line-height: 150%;
}

.corazon {
    color: red;
}

.texto-blanco {
    color: white;
}

@media (max-width: 1279px) {
    nav {
        padding: 3% 15%;
    }

    .nav-enlaces a {
        margin-left: 15px;
    }

    hr {
        width: 70%;
        margin: 0 15%;
    }

    .seccion-1-titulo {
        font-size: 2.8rem;
        max-width: 600px;
    }

    .seccion-1-parrafo {
        font-size: 1rem;
        max-width: 650px;
    }

    .seccion-1-boton {
        font-size: 0.8rem;
    }

    .seccion-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10% 15% 22%;
    }

    .seccion-4 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 180vh;
        padding: 0% 15;
    }

    .seccion-4-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .texto-titulo {
        font-size: 1.5rem;
        max-width: 340px;
    }

    .texto-subtitulo {
        font-size: 0.7rem;
    }

    .seccion-5-puntos {
        padding-left: 40%;
    }

    .punto {
        width: 5px;
        height: 5px;
    }
}

@media (max-width: 920px) {

    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }

    .seccion-4-grid {
        grid-template-columns: 47% 47%;
        grid-template-rows: 1fr 1fr;
    }

    .seccion-6-titulo {
        font-size: 1.5rem;
    }

    .seccion-6-parrafo {
        font-size: 0.7rem;
    }

    .footer-parte-1 {
        padding: 4% 15%;
    }
}

@media (max-width: 481px) {
    body {
        width: 100%;
    }

    header {
        height: 70vh;
    }

    .nav-enlaces a {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10%;
        margin-left: 0px;
    }


    .seccion-1 {
        height: 70%;
    }

    .seccion-1-titulo {
        font-size: 2rem;
    }

    .seccion-1-parrafo {
        font-size: 1rem;
    }

    .seccion-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20% 15%;
    }

    .seccion-2-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 8%;
    }

    .seccion-3 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin-top: 65vh;
    }

    .seccion-4-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin-top: 145vh;
    }

    .seccion-5 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 150vh;
    }

    .seccion-5-imagen img {
        background-position: end;
        background-size: cover;
    }

    .texto-titulo {

        font-size: 1.5rem;
        max-width: 340px;
    }

    .texto-subtitulo {
        font-size: 0.8rem;
    }

    .punto {
        width: 8px;
        height: 8px;
    }

    .seccion-6 {
        text-align: center;
        padding: 10% 15%;
    }

    .seccion-6-titulo {
        font-size: 1.5rem;
    }

    .seccion-6-parrafo {
        font-size: 0.8rem;
    }

    .footer-parte-1 {
        padding: 15% 15% 25%;
    }

    .footer-parte-1-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 20%;
    }
}

@media (max-width: 480px) {
    .seccion-1 {
        height: 70%;
    }

    .seccion-1-titulo {
        font-size: 1.5rem;
    }

    .seccion-1-parrafo {
        font-size: 0.8rem;
    }

    .seccion-3 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-top: 65vh;
    }

    .footer-parte-2 {
        height: 15vh;
    }
}