* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    width: 100%;
    height: 80vh;
    color: white;
    background: linear-gradient(#2b2d4def, #2b2d4def), url(../assets/images/Layer\ 34.png);
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 19.3%;
}

.nav-enlaces a {
    color: white;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
    margin-left: 57px;
}

hr {
    width: 61.4%;
    margin: 0 19.3%;

}

.seccion-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.seccion-1-titulo {
    font-size: 4.1rem;
    max-width: 1000px;
    text-align: center;
    line-height: 120%;
}

.seccion-1-parrafo {
    font-size: 1.4rem;
    max-width: 920px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 4%;
    font-weight: lighter;
}

.seccion-1-boton {
    background-color: #E84546;
    border: none;
    color: white;
    padding: 0.8% 3%;
    font-size: 0.8rem;
}

.seccion-2 {
    display: flex;
    align-items: center;
    padding: 10% 19.3%;
}

.seccion-2-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5%;
    row-gap: 20%;
}

.seccion-2-easily {
    text-align: center;
}

.easily-titulo {
    font-size: 0.9rem;
    margin: 8% 0;
    font-family: "Raleway", sans-serif;
    color: #323335;
}

.easily-parrafo {
    text-align: center;
    font-size: 1rem;
    color: #717578;
}

.seccion-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px;
}

.seccion-3 img {
    width: 100%;
    height: 100%;
}

.seccion-3-imagen-rojo {
    background-color: #E75351;
}

.seccion-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 0% 19.3;
}

.seccion-4-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 40px;
}

.seccion-4-tarjeta-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tarjeta-1-titulo {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: 8%;
    margin-bottom: 2%;
}

.tarjeta-1-subtitulo {
    color: #E84546;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    margin-bottom: 8%;
}

.tarjeta-1-parrafo {
    max-width: 300px;
    color: #717578;
    margin-bottom: 8%;
}
.tarejta-1-redes{
    display: flex;
    gap: 10px;
}
.tarejta-1-redes img{
    padding: 5px 5px;
    border: 1px solid #EBEBEB;
}
.seccion-5{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr;
}
.seccion-5-texto{
    background-color: #523549;
}
.seccion-6{
    text-align: center;
}